@font-face {
  font-family: 'chevin-thin';
  src: url('../fonts/chevin-thin-webfont.eot');
  src: url('../fonts/chevin-thin-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/chevin-thin-webfont.woff') format('woff'),
   url('../fonts/chevin-thin-webfont.ttf') format('truetype'),
   url('../fonts/chevin-thin-webfont.svg#chevinthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevin-light';
  src: url('../fonts/chevin-light-webfont.eot');
  src: url('../fonts/chevin-light-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/chevin-light-webfont.woff') format('woff'),
   url('../fonts/chevin-light-webfont.ttf') format('truetype'),
   url('../fonts/chevin-light-webfont.svg#chevinlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevin-medium';
  src: url('../fonts/chevin-medium-webfont.eot');
  src: url('../fonts/chevin-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chevin-medium-webfont.woff') format('woff'),
    url('../fonts/chevin-medium-webfont.ttf') format('truetype'),
    url('../fonts/chevin-medium-webfont.svg#chevinmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevin-bold';
  src: url('../fonts/chevin-bold-webfont.eot');
  src: url('../fonts/chevin-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chevin-bold-webfont.woff') format('woff'),
    url('../fonts/chevin-bold-webfont.ttf') format('truetype'),
    url('../fonts/chevin-bold-webfont.svg#chevinbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevin-demibold';
  src: url('../fonts/chevin-demibold-webfont.eot');
  src: url('../fonts/chevin-demibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chevin-demibold-webfont.woff') format('woff'),
    url('../fonts/chevin-demibold-webfont.ttf') format('truetype'),
    url('../fonts/chevin-demibold-webfont.svg#chevindemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chevin-extrabold';
  src: url('../fonts/chevin-extrabold-webfont.eot');
  src: url('../fonts/chevin-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chevin-extrabold-webfont.woff') format('woff'),
    url('../fonts/chevin-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/chevin-extrabold-webfont.svg#chevinextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
