@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

%icon {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == foetex-barrel {
		$char: "\E001";
	}
	@if $filename == foetex-beverages {
		$char: "\E002";
	}
	@if $filename == foetex-blank {
		$char: "\E003";
	}
	@if $filename == foetex-book {
		$char: "\E004";
	}
	@if $filename == foetex-check {
		$char: "\E005";
	}
	@if $filename == foetex-clock {
		$char: "\E006";
	}
	@if $filename == foetex-close {
		$char: "\E007";
	}
	@if $filename == foetex-cookingpot {
		$char: "\E008";
	}
	@if $filename == foetex-ducky {
		$char: "\E009";
	}
	@if $filename == foetex-facebook {
		$char: "\E00A";
	}
	@if $filename == foetex-instagram {
		$char: "\E00B";
	}
	@if $filename == foetex-pin {
		$char: "\E00C";
	}
	@if $filename == foetex-pinterest {
		$char: "\E00D";
	}
	@if $filename == foetex-receipe {
		$char: "\E00E";
	}
	@if $filename == foetex-youtube {
		$char: "\E00F";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}

.icon-foetex-barrel {
	@include icon(foetex-barrel);
}
.icon-foetex-beverages {
	@include icon(foetex-beverages);
}
.icon-foetex-blank {
	@include icon(foetex-blank);
}
.icon-foetex-book {
	@include icon(foetex-book);
}
.icon-foetex-check {
	@include icon(foetex-check);
}
.icon-foetex-clock {
	@include icon(foetex-clock);
}
.icon-foetex-close {
	@include icon(foetex-close);
}
.icon-foetex-cookingpot {
	@include icon(foetex-cookingpot);
}
.icon-foetex-ducky {
	@include icon(foetex-ducky);
}
.icon-foetex-facebook {
	@include icon(foetex-facebook);
}
.icon-foetex-instagram {
	@include icon(foetex-instagram);
}
.icon-foetex-pin {
	@include icon(foetex-pin);
}
.icon-foetex-pinterest {
	@include icon(foetex-pinterest);
}
.icon-foetex-receipe {
	@include icon(foetex-receipe);
}
.icon-foetex-youtube {
	@include icon(foetex-youtube);
}
