@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

%icon {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == foetex-arrowdown {
		$char: "\E001";
	}
	@if $filename == foetex-arrowleft {
		$char: "\E002";
	}
	@if $filename == foetex-arrowright {
		$char: "\E003";
	}
	@if $filename == foetex-arrowup {
		$char: "\E004";
	}
	@if $filename == foetex-barrel {
		$char: "\E005";
	}
	@if $filename == foetex-beef {
		$char: "\E006";
	}
	@if $filename == foetex-beverages {
		$char: "\E007";
	}
	@if $filename == foetex-blank {
		$char: "\E008";
	}
	@if $filename == foetex-book {
		$char: "\E009";
	}
	@if $filename == foetex-check {
		$char: "\E00A";
	}
	@if $filename == foetex-checkbox-checked {
		$char: "\E00B";
	}
	@if $filename == foetex-chicken {
		$char: "\E00C";
	}
	@if $filename == foetex-clock {
		$char: "\E00D";
	}
	@if $filename == foetex-close {
		$char: "\E00E";
	}
	@if $filename == foetex-cookingpot {
		$char: "\E00F";
	}
	@if $filename == foetex-crab {
		$char: "\E010";
	}
	@if $filename == foetex-diner {
		$char: "\E011";
	}
	@if $filename == foetex-dropdown {
		$char: "\E012";
	}
	@if $filename == foetex-dropleft {
		$char: "\E013";
	}
	@if $filename == foetex-dropright {
		$char: "\E014";
	}
	@if $filename == foetex-dropup {
		$char: "\E015";
	}
	@if $filename == foetex-ducky {
		$char: "\E016";
	}
	@if $filename == foetex-facebook {
		$char: "\E017";
	}
	@if $filename == foetex-fish {
		$char: "\E018";
	}
	@if $filename == foetex-fruits {
		$char: "\E019";
	}
	@if $filename == foetex-geography {
		$char: "\E01A";
	}
	@if $filename == foetex-grapevine {
		$char: "\E01B";
	}
	@if $filename == foetex-instagram {
		$char: "\E01C";
	}
	@if $filename == foetex-mail {
		$char: "\E01D";
	}
	@if $filename == foetex-pin {
		$char: "\E01E";
	}
	@if $filename == foetex-pinterest {
		$char: "\E01F";
	}
	@if $filename == foetex-pork {
		$char: "\E020";
	}
	@if $filename == foetex-rabbit {
		$char: "\E021";
	}
	@if $filename == foetex-receipe {
		$char: "\E022";
	}
	@if $filename == foetex-sheep {
		$char: "\E023";
	}
	@if $filename == foetex-snacks {
		$char: "\E024";
	}
	@if $filename == foetex-star {
		$char: "\E025";
	}
	@if $filename == foetex-toscana {
		$char: "\E026";
	}
	@if $filename == foetex-vegetable {
		$char: "\E027";
	}
	@if $filename == foetex-wine {
		$char: "\E028";
	}
	@if $filename == foetex-youtube {
		$char: "\E029";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}

.icon-foetex-arrowdown {
	@include icon(foetex-arrowdown);
}
.icon-foetex-arrowleft {
	@include icon(foetex-arrowleft);
}
.icon-foetex-arrowright {
	@include icon(foetex-arrowright);
}
.icon-foetex-arrowup {
	@include icon(foetex-arrowup);
}
.icon-foetex-barrel {
	@include icon(foetex-barrel);
}
.icon-foetex-beef {
	@include icon(foetex-beef);
}
.icon-foetex-beverages {
	@include icon(foetex-beverages);
}
.icon-foetex-blank {
	@include icon(foetex-blank);
}
.icon-foetex-book {
	@include icon(foetex-book);
}
.icon-foetex-check {
	@include icon(foetex-check);
}
.icon-foetex-checkbox-checked {
	@include icon(foetex-checkbox-checked);
}
.icon-foetex-chicken {
	@include icon(foetex-chicken);
}
.icon-foetex-clock {
	@include icon(foetex-clock);
}
.icon-foetex-close {
	@include icon(foetex-close);
}
.icon-foetex-cookingpot {
	@include icon(foetex-cookingpot);
}
.icon-foetex-crab {
	@include icon(foetex-crab);
}
.icon-foetex-diner {
	@include icon(foetex-diner);
}
.icon-foetex-dropdown {
	@include icon(foetex-dropdown);
}
.icon-foetex-dropleft {
	@include icon(foetex-dropleft);
}
.icon-foetex-dropright {
	@include icon(foetex-dropright);
}
.icon-foetex-dropup {
	@include icon(foetex-dropup);
}
.icon-foetex-ducky {
	@include icon(foetex-ducky);
}
.icon-foetex-facebook {
	@include icon(foetex-facebook);
}
.icon-foetex-fish {
	@include icon(foetex-fish);
}
.icon-foetex-fruits {
	@include icon(foetex-fruits);
}
.icon-foetex-geography {
	@include icon(foetex-geography);
}
.icon-foetex-grapevine {
	@include icon(foetex-grapevine);
}
.icon-foetex-instagram {
	@include icon(foetex-instagram);
}
.icon-foetex-mail {
	@include icon(foetex-mail);
}
.icon-foetex-pin {
	@include icon(foetex-pin);
}
.icon-foetex-pinterest {
	@include icon(foetex-pinterest);
}
.icon-foetex-pork {
	@include icon(foetex-pork);
}
.icon-foetex-rabbit {
	@include icon(foetex-rabbit);
}
.icon-foetex-receipe {
	@include icon(foetex-receipe);
}
.icon-foetex-sheep {
	@include icon(foetex-sheep);
}
.icon-foetex-snacks {
	@include icon(foetex-snacks);
}
.icon-foetex-star {
	@include icon(foetex-star);
}
.icon-foetex-toscana {
	@include icon(foetex-toscana);
}
.icon-foetex-vegetable {
	@include icon(foetex-vegetable);
}
.icon-foetex-wine {
	@include icon(foetex-wine);
}
.icon-foetex-youtube {
	@include icon(foetex-youtube);
}
