//colors
$foetex-black : #313131;
$foetex-blue : #002d5a;
$foetex-grey : #7e7e7e;
$foetex-dkgrey : #444444;
$foetex-ltgrey : #e1e1e1;
$foetex-dkwhite : #eae8e7;
$foetex-white : #ffffff;


//default font sizes
$foetex-h1 : 46px;
$foetex-h2 : 24px;
$foetex-h3 : 26px;
$foetex-p : 18px;
$foetex-p-article : 22px;
$foetex-icon-md : 32px;
$foetex-input-md : 22px;


//border-radius
$foetex-form-radius : 8px;
$foetex-content-body : 20px;

.color--normal{
  background : transparent;
  color : $foetex-blue;
}

//widths
$foetex-max-width : 1260px;


//heights
$foetex-header-top-height : 50px;
$foetex-header-main-height : 60px;

//breakpoints (for use only with breakpoint mixin)
$handhelds : (max-width ($screen-sm - 1)) ;
$handhelds-tablets : (max-width ($screen-md - 1));
$tablets : (min-width $screen-sm) (max-width ($screen-md - 1));
$desktop : (min-width $screen-md);
$largescreens : (min-width $screen-lg);
$respond : (max-width $foetex-max-width);

//use these variables for bootstrap breakpoint values:
// $screen-sm , $screen-md, $screen-lg
