<div class="ribbon container-fluid @@ribbon-category">
  <div class="carouselbar carouselbar--duo row">
    <div class="carouselbar--duo__carousel">
      @@include('../modules/carouselbar__item.html',{
        "slideimg" : "images/img-slide1.jpg"
      })

      @@include('../modules/carouselbar__item.html',{
        "slideimg" : "images/img-slide2.jpg"
      })

      @@include('../modules/carouselbar__item.html',{
        "slideimg" : "images/img-slide3.jpg"
      })

      @@include('../modules/carouselbar__item.html',{
        "slideimg" : "images/img-baby-1.jpg"
      })

      @@include('../modules/carouselbar__item.html',{
        "slideimg" : "images/img-baby-2.jpg"
      })
    </div>
    <div class="carouselbar--duo__dots">

    </div>
    <div class="carouselbar--duo__nav">

    </div>
  </div>
</div>
