<!-- ribbon-cover class is a ribbon that should contain a background image -->
<!-- ribbon-cover-filter is a ribbon variant that is a container for filtered items -->
<div class="ribbon ribbon--cover container-fluid @@ribbon-category" style="background-image:url(@@bannerimg)">

  <div class="cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc"  : "images/img-food-2.jpg",
      "imgalt"  : "baby1",
      "heading" : "Torskeroulade med årstidens grønt",
      "copy"    : "Torsk i svøb af squash, med soltørrede tomater og tang.",
      "saleprice" : "",
      "foottext" : "Se denne opskrift",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>35</span><span>min.</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc"  : "images/img-food-3.jpg",
      "imgalt"  : "baby1",
      "heading" : "Hindbær trifli med frisk mascapone cremé",
      "copy"    : "Hindbær og rabarber trifli med revet hvid chokolade",
      "saleprice" : "",
      "foottext" : "Se denne opskrift",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>15</span><span>min.</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc"  : "images/img-food-4.jpg",
      "imgalt"  : "baby1",
      "heading" : "Oksesteg stegt medurter radisser",
      "copy"    : "Grillet oksesteg med forårsløg, radiser, friske ærter og frisk brøndkarse",
      "saleprice" : "",
      "foottext" : "Se denne opskrift",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>45</span><span>min.</span>"
    })

    @@include('../modules/columnbox--quicklinks.html',{
      "category" : "",
      "img" : "<img src='images/logo-recipe.svg' alt='recipe' >",
      "link1" : "<a href='#'>Lorem ipsum.<span></span></a>",
      "link2" : "<a href='#'>Soluta, doloremque.<span></span></a>",
      "link3" : "<a href='#'>Deleniti, impedit.<span></span></a>",
      "link4" : "<a href='#'>Voluptatum, aperiam!<span></span></a>",
      "addclass" : ""
    })

  </div>

  <div class="buttonseeall row">
    <button class="">Se alle opskrifter lige her</button>
  </div>

</div>
