<!-- ribbon-cover class is a ribbon that should contain a background image -->
<!-- ribbon-cover-filter is a ribbon variant that is a container for filtered items -->
<div class="ribbon container-fluid @@ribbon-category">

  <div class="filterbox filterbox--button row">

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "selected",
      "btnid" : "btn-filter-1",
      "btntxt" : "Alle aldre"
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-2",
      "btntxt" : "før fødsel"
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-3",
      "btntxt" : "0-3 mdr."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-4",
      "btntxt" : "3-6 mdr."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-5",
      "btntxt" : "6-9 MDR."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-6",
      "btntxt" : "9-12 MDR."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-7",
      "btntxt" : "12- 18 MDR."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-8",
      "btntxt" : "18-24 MDR."
    })

    @@include('../modules/filterbox--button__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter-8",
      "btntxt" : "2-3 ÅR"
    })

    <div class="col-sm-12 separator"><div></div></div>

  </div>

  <div class="filterboxitems columnbox cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "butchery",
      "imgsrc"  : "images/img-baby-1.jpg",
      "imgalt"  : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-2.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "weeks",
      "stampmeta" : "<span>Gælder<br /></span><span>uge 32</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-3.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "months",
      "stampmeta" : "<span>0-6</span><span>måneder</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "recipe",
      "imgsrc" : "images/img-land-1.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Se denne opskrift",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>30</span><span>min.</span>"
    })

  </div>

  <div class="buttonseeall row">
    <button class="">vis alle tilbud</button>
  </div>
</div>
