<!-- ribbon-cover class is a ribbon that should contain a background image -->
<!-- ribbon-cover-filter is a ribbon variant that is a container for filtered items -->
<div class="ribbon ribbon--cover container-fluid @@ribbon-category" style="background-image:url(@@bannerimg)">

  <div class="cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc"  : "images/img-baby-1.jpg",
      "imgalt"  : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "saleprice" : "2 stk. 49,95,-",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc" : "images/img-baby-2.jpg",
      "imgalt" : "baby1",
      "heading" : "Frit valg på alle Neutral produkter til børn",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "saleprice" : "Pr. stk. 10,-",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc" : "images/img-baby-3.jpg",
      "imgalt" : "baby1",
      "heading" : "Anbefalinger om mad til spæd- og småbørn",
      "copy"    : "I denne uge har Helen Lyng Hansen fokus på sund og rigtig kost til de små. Hvornår er det godt at starte osv.",
      "saleprice" : "",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "months",
      "stampmeta" : "<span>0-6</span><span>måneder</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--quicklinks.html',{
      "category" : "",
      "img" : "<img src='images/logo-barn-n-baby.svg' alt='recipe' >",
      "link1" : "<a href='#'>Lorem ipsum.<span></span></a>",
      "link2" : "<a href='#'>Soluta, doloremque.<span></span></a>",
      "link3" : "<a href='#'>Deleniti, impedit.<span></span></a>",
      "link4" : "<a href='#'>Voluptatum, aperiam!<span></span></a>",
      "addclass" : ""
    })

  </div>

  <div class="buttonseeall row">
    <button class="">se mere om barn & baby</button>
  </div>

</div>
