<div class="ribbon ribbon--cover container-fluid @@ribbon-category" style="background-image:url(@@bannerimg)" >

  <div class="filterboxitems columnbox columnbox--quatre row">

    @@include('../modules/columnbox--quatre__item.html',{
      "category" : "baby",
      "imgsrc"  : "images/img-baby-1.jpg",
      "imgalt"  : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>"
    })

    @@include('../modules/columnbox--quatre__item.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-2.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "weeks",
      "stampmeta" : "<span>Gælder<br /></span><span>uge 32</span>"
    })

    @@include('../modules/columnbox--quatre__item.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-3.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "months",
      "stampmeta" : "<span>0-6</span><span>måneder</span>"
    })

    @@include('../modules/columnbox--quatre__item--links.html',{
      "category" : "baby",
      "imgsrc" : "images/img-land-1.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>30</span><span>min.</span>"
    })

  </div>

  <div class="buttonseeall row">
    <button class="">Se mere om barn & baby</button>
  </div>


</div>
