<!-- ribbon-cover class is a ribbon that should contain a background image -->
<!-- ribbon-cover-filter is a ribbon variant that is a container for filtered items -->
<div class="ribbon ribbon--cover container-fluid @@ribbon-category" style="background-image:url(@@bannerimg)">

  <div class="cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc"  : "images/img-wine-1.jpg",
      "imgalt"  : "baby1",
      "heading" : "2013 Cases Del bosque palla dilla",
      "copy"    : "Chile - Pinot noir <br>Colchagua Valley - 75 cl.",
      "saleprice" : "Pr. Fl. 49,95,-",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc" : "images/img-wine-2.jpg",
      "imgalt" : "baby1",
      "heading" : "2012 Chablis La pierrelee",
      "copy"    : "Frankrig - Chardonney <br>Bourgogne - 75 cl.",
      "saleprice" : "Pr. Fl. 49,95,-",
      "foottext" : "Se alle tilbud",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>60,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "",
      "imgsrc" : "images/img-wine-3.jpg",
      "imgalt" : "baby1",
      "heading" : "2010 Argiano - Brunello di montalcino",
      "copy"    : "Italien - Sangiovese <br>Toscana - 75 cl.",
      "saleprice" : "Pr. Fl. 49,95,-",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>75,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--quicklinks.html',{
      "category" : "",
      "img" : "<img src='images/logo-cellar.svg' alt='recipe' >",
      "link1" : "<a href='#'>Lorem ipsum.<span></span></a>",
      "link2" : "<a href='#'>Soluta, doloremque.<span></span></a>",
      "link3" : "<a href='#'>Deleniti, impedit.<span></span></a>",
      "link4" : "<a href='#'>Voluptatum, aperiam!<span></span></a>",
      "addclass" : ""
    })

  </div>

  <div class="buttonseeall row">
    <button class="">besøg vores vinkælder</button>
  </div>

</div>
