<div class="ribbon container-fluid @@ribbon-category">

  <div class="headtitle row">
    @@include('../modules/headtitle__bar.html',{
      "titleA" : "Seneste nye",
      "titleB" : "Barn & Baby Artikler",
      "addclass" : "color-responsive"
    })
  </div>

  <div class="filterbox filterbox--inline row">

    <div class="prefix-item">
      <span>ARTICLE EMNER:</span>
    </div>

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "selected",
      "btnid" : "btn-filter2-1",
      "btntxt" : "Alle"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-2",
      "btntxt" : "Amning"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-3",
      "btntxt" : "Spisetid"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-4",
      "btntxt" : "Gode sovevaner"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-5",
      "btntxt" : "Allergi"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-6",
      "btntxt" : "Motorisk udvikling"
    })

    @@include('../modules/filterbox--inline__button.html',{
      "btnaddclass" : "",
      "btnid" : "btn-filter2-7",
      "btntxt" : "Sundhed"
    })

  </div>

  <div class="filterboxitems columnbox cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc"  : "images/img-baby-1.jpg",
      "imgalt"  : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-2.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "weeks",
      "stampmeta" : "<span>Gælder<br /></span><span>uge 32</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-3.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "months",
      "stampmeta" : "<span>0-6</span><span>måneder</span>"
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-land-1.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "foottext" : "Læs denne artikel",
      "footlink" : "#",
      "stamptype" : "time",
      "stampmeta" : "<span>30</span><span>min.</span>"
    })

  </div>

  <div class="buttonseeall row">
    <button class="">vis alle tilbud</button>
  </div>
</div>
