<div class="ribbon ribbon--cover container-fluid @@ribbon-category bg-dkwhite">

  <div class="headtitle row">
    @@include('../modules/headtitle__bar.html',{
      "titleA" : "Udvalgte produkter",
      "titleB" : "Barn & Baby Artikler",
      "addclass" : "color-responsive"
    })
  </div>

  <div class="filterboxitems cols--quartet row">

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc"  : "images/img-baby-4.jpg",
      "imgalt"  : "baby1",
      "heading" : "Semper smoothie",
      "copy"    : "I denne uge har Helen fokus amning og giver gode råd til hvordan man kan undgå dårlige oplevelser",
      "saleprice" : "",
      "foottext" : "Se alle tilbud i kategorien",
      "footlink" : "#",
      "stamptype" : "savings",
      "stampmeta" : "<span>Spar</span><span>45,-</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-5.jpg",
      "imgalt" : "baby1",
      "heading" : "Hipp Babymos",
      "copy"    : "I denne uge har Helen fokus amning og giver gode råd til hvordan man kan undgå dårlige oplevelser",
      "saleprice" : "",
      "foottext" : "Se alle tilbud i kategorien",
      "footlink" : "#",
      "stamptype" : "weeks",
      "stampmeta" : "<span>Gælder<br /></span><span>uge 32</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-6.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "saleprice" : "",
      "foottext" : "Se alle tilbud i kategorien",
      "footlink" : "#",
      "stamptype" : "months",
      "stampmeta" : "<span>0-6</span><span>måneder</span>",
      "addclass" : ""
    })

    @@include('../modules/columnbox--cta1.html',{
      "category" : "baby",
      "imgsrc" : "images/img-baby-2.jpg",
      "imgalt" : "baby1",
      "heading" : "Uld børne undertøj fra 808 i 100% bomuld ",
      "copy"    : "Fås i mange farver og størrelser fra 0 - 3 år.",
      "saleprice" : "Pr. stk. 10,- ",
      "foottext" : "Se alle tilbud i kategorien",
      "footlink" : "#",
      "stamptype" : "weeks",
      "stampmeta" : "<span>Gælder<br /></span><span>uge 32</span>",
      "addclass" : ""
    })

  </div>


</div>
