@@include('../general/document-top.html',{"pagetitle":"Article Page"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content">

    @@include('../components/ribbons/ribbon-baby-title.html', {"ribbon-category" : ""})
    @@include('../components/ribbons/ribbon-article.html', {"ribbon-category" : ""})
    @@include('../components/ribbons/ribbon-slideshow.html', {"ribbon-category" : ""})
    @@include('../components/ribbons/ribbon-trio.html', {"ribbon-category":""})

    <div class="background" style="background-image:url(images/bg-top-barn-n-baby.jpg)"></div>

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
