@@include('../general/document-top.html',{"pagetitle":"Foetex"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content">

    @@include('../components/ribbons/ribbon-landing-toptitle.html', {"ribbon-category" : "category-baby"})
    @@include('../components/ribbons/ribbon-landing-brochure.html',{"ribbon-category":"", "bannerimg" : ""})
    @@include('../components/ribbons/ribbon-landing-brochure-recipe.html',{"ribbon-category":"category-recipe", "bannerimg" : "images/bg-ribbon-receipe.jpg"})
    @@include('../components/ribbons/ribbon-landing-brochure-cellar.html',{"ribbon-category":"category-wine", "bannerimg" : "images/bg-ribbon-cellar.jpg"})
    @@include('../components/ribbons/ribbon-landing-brochure-baby.html',{"ribbon-category":"category-baby", "bannerimg" : "images/bg-ribbon-barnbaby.jpg"})
    @@include('../components/ribbons/ribbon-newsletter-form.html', {"ribbon-category" : "category-butchery"})
    @@include('../components/ribbons/ribbon-trio.html', {"ribbon-category":"category-baby"})

    <div class="background" style="background-image:url(images/bg-top-landing.jpg)"></div>

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
