@@include('../general/document-top.html',{"pagetitle":"Barn & Baby"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content">

    @@include('../components/ribbons/ribbon-wine-title.html', {"ribbon-category" : "category-wine"})
    @@include('../components/ribbons/ribbon-wine-filter.html', {"ribbon-category" : "category-wine"})
    @@include('../components/ribbons/ribbon-wine-brochure.html',{"ribbon-category":"category-wine", "bannerimg" : ""})
    @@include('../components/ribbons/ribbon-banner-baby.html', {"ribbon-category":"category-wine", "bannerimg" : "images/herobanner-baby-1.jpg"})
    @@include('../components/ribbons/ribbon-baby-articles.html', {"ribbon-category":"category-wine"})
    @@include('../components/ribbons/ribbon-newsletter-form.html', {"ribbon-category" : "category-wine"})
    @@include('../components/ribbons/ribbon-trio.html', {"ribbon-category":"category-wine"})

    <div class="background" style="background-image:url(images/bg-top-barn-n-baby.jpg)"></div>

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
