@@include('../general/document-top.html',{"pagetitle":"Home"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content">

    @@include('../components/ribbons/ribbon-transparent.html', {"ribbon-category" : "category-baby"})

    @@include('../components/ribbons/ribbon-newsletter-form.html', {"ribbon-category" : "category-baby"})
    @@include('../components/ribbons/ribbon-kitchensink.html', {"ribbon-category":"category-baby"})

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
