@@include('../general/document-top.html',{"pagetitle":"Home"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content">

    @@include('../components/ribbons/ribbon-transparent.html', {"ribbon-category" : "category-baby"})
    @@include('../components/ribbons/ribbon-article.html', {"ribbon-category" : ""})
    @@include('../components/ribbons/ribbon-cover-filter.html', {"ribbon-category" : "category-wine"})
    @@include('../components/ribbons/ribbon-newsletter-form.html', {"ribbon-category" : "category-baby"})
    @@include('../components/ribbons/ribbon-slideshow.html', {"ribbon-category":"category-baby"})
    @@include('../components/ribbons/ribbon-kitchensink.html', {"ribbon-category":"category-baby"})
    @@include('../components/ribbons/ribbon-articles.html', {"ribbon-category":"category-wine"})
    @@include('../components/ribbons/ribbon-banner-baby.html', {"ribbon-category":"category-baby", "bannerimg" : "images/herobanner-baby-1.jpg"})
    @@include('../components/ribbons/ribbon-trio.html', {"ribbon-category":"category-baby"})

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
