@@include('../general/document-top.html',{"pagetitle":"Home"})

<div class="page home">

  @@include('../general/page-header.html')

  <div class="content category-baby">

    @@include('../components/ribbons/ribbon-transparent.html')
    @@include('../components/ribbons/ribbon-cover-filter.html')
    @@include('../components/ribbons/ribbon-slideshow.html')
    @@include('../components/ribbons/ribbon-kitchensink.html')
    @@include('../components/ribbons/ribbon-categorial-brochure.html',{
      "bannerimg" : "images/img-land-1.jpg"
    })
    @@include('../components/ribbons/ribbon-articles.html')
    @@include('../components/ribbons/ribbon-banner-baby.html',{
      "bannerimg" : "images/img-land-1.jpg"
    })
    @@include('../components/ribbons/ribbon-trio.html')

  </div>

  @@include('../general/page-footer.html')

</div>

@@include('../general/document-bottom.html')
