
<div class="col-md-6">
  <div class="dropdown">
    <button class="btn btn-foetex-default btn-foetex-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Large Dropdown Button
      <span class="caret-foetex"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>
</div>
<div class="col-md-6 social-links">
  <ul>
    <li><a class="icon-foetex-facebook" href="#"></a></li>
    <li><a class="icon-foetex-mail" href="#"></a></li>
  </ul>
</div>
<div class="separator"><div></div></div>
