<div class="columnbox columnbox--cta2 cat-@@category">
  <figure class="media">
    <img class="image" src="@@imgsrc" alt="@@imgalt"/>
    <div class="stamp stamp--@@stamptype">
      <div class="icon-holder"></div>
      <div class="meta-data">@@stampmeta</div>
    </div>
  </figure>
  <div class="details">
    <h4 class="heading">@@heading</h4>
    <p class="copy">@@copy</p>
    <div class="button-link">
      <a class="btn btn-foetex-md" href="@@footlink">@@foottext</a>
    </div>
  </div>
</div>
