<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, deserunt.</p></div>
  <div role="tabpanel" class="tab-pane" id="profile"><p>Voluptas corrupti maiores iusto facere animi quidem molestias quasi odit.</p></div>
  <div role="tabpanel" class="tab-pane" id="messages"><p>Enim perferendis voluptatum unde officiis ad molestias saepe voluptates iure.</p></div>
  <div role="tabpanel" class="tab-pane" id="settings"><p>Itaque asperiores cum maiores repellat reiciendis suscipit sint corrupti ex.</p></div>
</div>
