<div class="newsletter__graphic">
  <figure><img src="images/barn&baby-ducky.png" alt="barn&baby" ></figure>
</div>
<div class="newsletter__form">
  <div class="title">
    <h3>Altid en <span>klar holdning</span> til kvalitet direkte i din indbakke</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quibusdam! Perferendis, temporibus.</p>
  </div>
  <form class="form-foetex--white">
    <div class="form-group checkboxes">
      <p>Jeg ønsker at modtage nyheder vedrørende:</p>
      <div class="checkbox checkbox-circle">
        <input id="check1" type="checkbox">
        <label for="check1">
          Generelle tilbud
        </label>
      </div>
      <div class="checkbox checkbox-circle">
        <input id="check2" type="checkbox">
        <label for="check2">
          Vores Vinkælder
        </label>
      </div>
      <div class="checkbox checkbox-circle">
        <input id="check3" type="checkbox">
        <label for="check3">
          Baby & Barn
        </label>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="navn">
      <input type="email" class="form-control" id="email" placeholder="email">
    </div>
    <button type="submit" class="btn btn-foetex-default">Submit</button>
  </form>
</div>
