<div class="newsletter__graphic">

</div>
<div class="newsletter__form">
  <div class="title">
    <h3>Altid en <span>klar holdning</span> til kvalitet direkte i din indbakke</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quibusdam! Perferendis, temporibus.</p>
  </div>
  <form class="form-foetex--white">
    <div class="form-group">
      <div class="checkbox checkbox-circle">
        <input id="inputfilebtn" type="checkbox">
        <label for="inputfilebtn">
          Generelle tilbud
        </label>
      </div>
      <div class="checkbox checkbox-circle">
        <input id="inputfilebtn" type="checkbox">
        <label for="inputfilebtn">
          Vores Vinkælder
        </label>
      </div>
      <div class="checkbox checkbox-circle">
        <input id="inputfilebtn" type="checkbox">
        <label for="inputfilebtn">
          Baby & Barn
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <p class="help-block">Example block-level help text here.</p>
    </div>

    <button type="submit" class="btn btn-foetex-default">Submit</button>
  </form>
</div>
