
//======= module: columnbox--quatre =======
@each $foetex-category-map, $map in $foetex-category-maps {
  .category-#{$foetex-category-map}{
    .columnbox--cta1{
      .inner{
        >.media{
          .stamp{
            background-color: map-get( $map, 'color');
            &.stamp--time{
              .icon-holder{
                background-color: darken( map-get( $map, 'color'), 5%);
              }
            }
          }
        }
        >.details{
          .saleprice{
            color: desaturate(darken(map-get( $map, 'color'), 15%),20%);
          }
        }
        >.foot{
          background-color: map-get( $map, 'color');
        }
      }
    }
  }
}

.columnbox--cta1{
  $paddingsW:20px;
  $borderR:20px;
  .inner{
    position : relative;
    height : 100%;
    padding-bottom:45px;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    background-color : $foetex-ltwhite;
    overflow : hidden;
    >.media{
      width : 100%;
      height : 300px;
      overflow : hidden;
      position : relative;
      color : $foetex-white;
      .image{
        position : relative;
        max-height : 100%;
        left : 50%;
        @include translateX(-50%);
      }
      .stamp{
        position : absolute;
        top : 0px;
        left : 0px;
        border-radius : $borderR;
      }
    }
    >.details{
      width : 100%;
      padding : 10px $paddingsW;
      .heading{
        @include font('chevin-bold');
        min-height : ($foetex-h4 * 2);
        font-size : $foetex-h4;
      }
      .copy{
        @include font('chevin-medium');
        font-size : $foetex-p-copy;
      }
      .saleprice{
        @include font('chevin-bold');
        font-size : 30px;
      }
    }
    >.foot{
      font-size : $foetex-p;
      background-color : inherit;
      position: absolute;
      width: 100%;
      bottom: 0px;
      a{
        @include font('chevin-bold');
        padding : 10px $paddingsW;
        color : $foetex-white;
        display : block;
      }
    }
  }
  @each $foetex-category-map, $map in $foetex-category-maps {
    &.cat-#{$foetex-category-map} {
      .inner{
        >.media{
          .stamp{
            background-color: map-get( $map, 'color');
            &.stamp--time{
              .icon-holder{
                background-color: darken( map-get( $map, 'color'), 5%);
              }
            }
          }
        }
        >.details{
          .saleprice{
            color: desaturate(darken(map-get( $map, 'color'), 15%),20%);
          }
        }
        >.foot{
          background-color: map-get( $map, 'color');
        }
      }
    }
  }
}
