
//======= module: columnbox--quatre =======
@each $foetex-category-map, $map in $foetex-category-maps {
  .category-#{$foetex-category-map}{
    .columnbox--quicklinks{
      .quicklinks{
        background-color: map-get( $map, 'color');
        background-image: url('../images/'+map-get( $map, 'texture'));
      }
    }
  }
}

.columnbox--quicklinks{
  $paddingsW:20px;
  $borderR:20px;
  .quicklinks{
    display : block;
    width : 100%;
    height : 100%;
    min-height : 520px;
    color : $foetex-white;
    position : relative;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    background-position : top center;
    &__logo{
      img{
        width : 100%;
        padding : 30% 15%;
      }
    }
    &__list{
      display : block;
      width : 100%;
      position : absolute;
      bottom : 45px;
      left : 0px;
      background-color : rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      h3{
        font-style : italic;
      }
      ul{
        @extend .ul-nostyle;
        li{
          a{
            color : inherit;
            display : block;
            position : relative;
            span{
              position : absolute;
              right : 0;
              @extend .icon-foetex-arrowright;
            }
          }
        }
      }
    }
  }
  @each $foetex-category-map, $map in $foetex-category-maps {
    &.cat-#{$foetex-category-map} {
      .quicklinks{
        background-color: map-get( $map, 'color');
        background-image: url('../images/'+map-get( $map, 'texture'));
      }
    }
  }
}
