//======= module: filterbox ======
.filterbox{
  text-align : center;
  &.row{
    padding-top : 20px;
  }
  &--button{
    &__button{
      @extend .col-sm-3;
      @extend .col-md-2;
      padding-bottom : $grid-gutter-width;
      .btn{
        @include font('chevin-medium');
        width : 100%;
        box-shadow : none;
        text-transform : uppercase;
      }
    }
  }
  &--inline{
    *{
      padding-left : 2px;
      padding-right : 2px;
    }
    text-align : center;
    @include font('chevin-bold');
    .prefix-item{
      display : inline-block;
    }
    &__button{
      display : inline-block;
      span{
        cursor : pointer;
        font-size : $foetex-p;
      }
      &.selected{
        text-decoration : underline;
      }
    }
  }
}

@each $foetex-category-map, $map in $foetex-category-maps {
  &.category-#{$foetex-category-map} {
    .ribbon{
      .filterbox{
        &--button{
          &__button{
            .btn{
              @include button-variant($foetex-white, desaturate(darken(map-get($map, 'color'),20%),15%), desaturate(darken(map-get($map, 'color'),20%),15%));
              &.selected{
                @include button-variant($foetex-white, map-get($map, 'color'), map-get($map, 'color'));
              }
            }
          }
          &::after{
            border-bottom : 1px solid darken(map-get($map, 'color'), 20%);
            width : 100%;
            padding : 0px ($grid-gutter-width / 2);
          }
        }
        &--inline{
          .prefix-item{
            color : map-get($map, 'color');
          }
          &__button{
            &.selected{
              color : map-get($map, 'color');
            }
            span{

            }
          }
          &::before{
            border-bottom : 1px solid darken(map-get($map, 'color'), 20%);
            width : 100%;
            padding : 0px ($grid-gutter-width / 2);
            margin-bottom : 20px;
          }
        }
      }
    }
  }
}
