.newsletter{
  &__graphic{
    @extend .col-md-6;
    figure{
      width : 100%;
      max-width : 562px;
      margin : 50px auto;
      img{
        width : 100%;
        height : auto;
      }
    }
  }
  &__form{
    @extend .col-md-6;
    .title{
      width: 75%;
      margin: 0 auto;
      text-align: center;
      h3{
        @include font('chevin-bold');
        font-size : 35px;
        line-height : 1;
        span{
          font-size : 66px;
        }
      }
      p{
        @include font('chevin-bold');
        color : $foetex-grey;
      }
    }
    form{
      margin : 0 auto;
      width : 72%;
      .checkboxes{
        label{
          @include font('chevin-demibold');
          font-size : 22px;
          color : $foetex-blue;
        }
      }
      .btn{
        width : 100%;
      }
    }
  }
}

@each $foetex-category-map, $map in $foetex-category-maps {
  .category-#{$foetex-category-map} {
    .newsletter{
      &__graphic{

      }
      &__form{
        .title{
          h3{
            color : map-get($map, 'color');
          }
        }
        form{
          .checkboxes{
            label{
              color : map-get($map, 'color');
            }
          }
          .form-control{
            margin-bottom : 20px;
          }
          .btn{
            @include button-variant($foetex-white, map-get( $map, 'color'), map-get( $map, 'color'));
            color : $foetex-white;
          }
        }
      }
    }
  }
}
