.foetex-h1{
  @include font('chevin-medium');
  font-size : $foetex-h1;
}

.foetex-h2{
  @include font('chevin-demibold');
  font-size : $foetex-h2;
}

.foetex-h3{
  @include font('chevin-light');
  font-size : $foetex-h3;
}

.foetex-p{
  @include font('chevin-thin');
  font-size : $foetex-p;
}

a:focus, a:hover{
  text-decoration : none;
}

input:focus {
    outline: none!important;
}

body{
  @extend .foetex-p;
  background-image : url($foetex-bg-ltgrey);
  background-repeat : repeat;
  background-color : $foetex-ltgrey;
}

h1{
  @extend .foetex-h1;
}

h2{
  @extend .foetex-h2;
}

h3{
  @extend .foetex-h3;
}

a:hover{
  text-decoration : none;
}


.ul-nostyle{
  list-style : none;
  padding-left : 0px;
  margin : 0;
}






.foetex-button{
  border-radius : 6px;
  background-color : $foetex-blue;
  color : $foetex-white;
  padding : 5px 15px;
  > .icon{
    vertical-align : middle;
    margin-right : 8px;
  }
}


.container-fluid{
  > .row{
    margin: 0 auto;
    width : $foetex-max-width;
  }
  @include breakpoint($respond){
    > .row{
      width : 100%;
    }
  }
  @include breakpoint($handhelds){
    padding-left : 0;
    padding-right : 0;
  }
}

/*== FOETEX BOOTSTRAP CUSTOM ==*/

.btn-foetex-default {
  @include button-variant($foetex-white, $foetex-blue, $foetex-blue);
}

.btn-foetex-filter {
  @include button-variant($foetex-white, $foetex-blue, $foetex-blue);
  text-transform : uppercase;
  max-width : 350px;
  width : 100%;
  @include button-size($padding-large-vertical + 10, $padding-large-horizontal, 18px, 18px, $border-radius-large);
  @include font('chevin-medium');
}

.btn-foetex-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 22px, 22px, $border-radius-large);
  @include font('chevin-medium');
}

.btn-foetex-md {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 20px, 20px, $border-radius-large);
}

.btn-foetex-sm {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 18px, 18px, $border-radius-large);
}




.form-foetex--white{
  padding : 20px;
  background-color : $foetex-white;
  .form-group{
    .form-control{
      @include font('chevin-medium');
      background-color : $foetex-ltgrey;
      color : $foetex-dkgrey;
      box-shadow : none;
      border-radius : $foetex-form-radius;
      height : auto;
      font-size : $foetex-input-md;
      border : none;
    }
  }
  button[type="submit"]{
    @include font('chevin-medium');
    font-size : $foetex-input-md;
    border-radius : $foetex-form-radius;
  }
}


.content{
  // background-image : url('../images/bg.jpg');
  // background-repeat : no-repeat;
  // background-size : 100% 335px;
  // background-position : top center;
  position : relative;
  .background{
    z-index : -1;
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100%;
    background-size : cover;
    background-position : center center;
    background-repeat : no-repeat;
    height : 500px;
  }

  .ribbon{
    z-index : 1;
    &:nth-child(2){
      .row:first-child{
        border-top-left-radius : $foetex-content-body;
        border-top-right-radius : $foetex-content-body;
        padding-top : 50px!important;
      }
    }
    .row{
      padding-top : 40px;
      padding-bottom : 30px;
    }
  }
}


.content{

  .ribbon{
    background-repeat : repeat;
    .row{
      background-image : url($foetex-bg-ltgrey);
      background-repeat : repeat;
      padding-left : 30px;
      padding-right : 30px;
      >.separator{
        @extend .col-sm-12;
        >div{
          width : 100%;
          height : 1px;
          border-bottom : 1px solid darken($foetex-blue, 10%);
          margin-top : 20px
        }
      }
    }
    @each $foetex-category-map, $map in $foetex-category-maps {
      &.category-#{$foetex-category-map} {
        >.row{
          >.separator > div{
            border-bottom : 1px solid darken(map-get($map, 'color'), 20%);
          }
        }
      }
    }
    @each $foetex-bg-texture, $map in $foetex-bg-textures {
      &.bg-#{$foetex-bg-texture} {
        background-image : url('../images/'+map-get( $map, 'texture'));
        .row{
          background : transparent;
        }
      }
    }
    .cols--solo > *{
      @extend .col-sm-12;
      @extend .col-md-12;
    }
    .cols--trio > *{
      @extend .col-sm-4;
      @extend .col-md-4;
    }
    .cols--quartet > *{
      @extend .col-sm-6;
      @extend .col-md-3;
    }
  }

  .ribbon--transparent{
    // padding-top : 50px;
    // padding-bottom : 50px;
    background-color : transparent;
    color : $foetex-white;
    text-align : center;
    .row{
      background : transparent;
    }
  }

  .ribbon--kitchensink{
    .row{
      background-color : $foetex-dkwhite;

      &:first-child{
        border-top-left-radius : $foetex-content-body;
        border-top-right-radius : $foetex-content-body;
      }
    }
  }

  .ribbon--cover{
    background-position : top center;
    background-size : cover;
    background-repeat : none;
    .row{
      background : transparent;
      padding-left : 40px;
      padding-right : 40px;
    }
  }

  .ribbon--banner{
    @extend .ribbon-banner;
    min-height : 600px;
    .row{
      background : transparent;
      padding-left : 40px;
      padding-right : 40px;
    }
  }

  .ribbon--white{
    background-color : $foetex-white;
    .row{
      background : transparent;
      padding-left : 40px;
      padding-right : 40px;
    }
  }
}


$bgcolor : $foetex-blue;


@import 'components/modules/toptitle';
@import 'components/modules/collapsebar';
@import 'components/modules/filterbox';
@import 'components/modules/buttonseeall';
@import 'components/modules/herobanner';
@import 'components/modules/newsletterform';
@import 'components/modules/headtitle';
@import 'components/modules/carouselbar';
@import 'components/modules/stamptypes';
@import 'components/modules/columnbox--cta1';
@import 'components/modules/columnbox--cta2';
@import 'components/modules/columnbox--quicklinks';
@import 'components/modules/columnbox--imagelink';
@import 'components/modules/sidelists';
@import 'components/modules/article';
@import 'components/modules/gallery';
