.foetex-h1{
  @include font('chevin-medium');
  font-size : $foetex-h1;
}

.foetex-h2{
  @include font('chevin-demibold');
  font-size : $foetex-h2;
}

.foetex-h3{
  @include font('chevin-light');
  font-size : $foetex-h3;
}

.foetex-p{
  @include font('chevin-thin');
  font-size : $foetex-p;
}


body{
  @extend .foetex-p;
  background-color : $foetex-ltgrey;
}

h1{
  @extend .foetex-h1;
}

h2{
  @extend .foetex-h2;
}

h3{
  @extend .foetex-h3;
}

a:hover{
  text-decoration : none;
}


.ul-nostyle{
  list-style : none;
  padding-left : 0px;
}






.foetex-button{
  border-radius : 6px;
  background-color : $foetex-blue;
  color : $foetex-white;
  padding : 5px 15px;
  > .icon{
    vertical-align : middle;
    margin-right : 8px;
  }
}


.container-fluid{
  > .row{
    margin: 0 auto;
    width : $foetex-max-width;
    @include breakpoint($respond){
      width : 100%;
    }
  }
}

/*== FOETEX BOOTSTRAP CUSTOM ==*/

.btn-foetex-default {
  @include button-variant($foetex-white, $foetex-blue, $foetex-blue);
}

.btn-foetex-filter {
  @include button-variant($foetex-white, $foetex-blue, $foetex-blue);
  text-transform : uppercase;
  min-width : 350px;
  @include button-size($padding-large-vertical + 10, $padding-large-horizontal, 18px, 18px, $border-radius-large);
  @include font('chevin-medium');
}

.btn-foetex-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 22px, 22px, $border-radius-large);
  @include font('chevin-medium');
}

.btn-foetex-md {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 20px, 20px, $border-radius-large);
}

.btn-foetex-sm {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 18px, 18px, $border-radius-large);
}




.form-foetex--white{
  padding : 20px;
  background-color : $foetex-white;
  .form-group{
    .form-control{
      @include font('chevin-medium');
      background-color : $foetex-ltgrey;
      color : $foetex-dkgrey;
      box-shadow : none;
      border-radius : $foetex-form-radius;
      height : auto;
      font-size : $foetex-input-md;
      border : none;
    }
  }
  button[type="submit"]{
    @include font('chevin-medium');
    font-size : $foetex-input-md;
    border-radius : $foetex-form-radius;
  }
}








.content{
  background-image : url('../images/bg.jpg');
  background-repeat : no-repeat;
  background-size : 100% auto;
  background-position : top center;

  .ribbon{
    &:nth-child(2){
      .row:first-child{
        border-top-left-radius : $foetex-content-body;
        border-top-right-radius : $foetex-content-body;
      }
    }
    .row{
      padding-top : 50px;
      padding-bottom : 30px;
    }
  }
}




.content{
  $bgcolor : $foetex-blue;
  @each $foetex-cat-color, $bgcolor in $foetex-cat-colors {
    &.category-#{$foetex-cat-color} {
      .ribbon{
        .filterbox{
          &__button{
            .btn{
              @include button-variant($foetex-white, desaturate(darken($bgcolor,20%),15%), desaturate(darken($bgcolor,20%),15%));
              &.selected{
                @include button-variant($foetex-white, $bgcolor, $bgcolor);
              }
            }
          }
          &::after{
            border-bottom : 1px solid darken($bgcolor, 20%);
            width : 100%;
            padding : 0px ($grid-gutter-width / 2);
          }
        }
        .button-see-all{
          text-align : center;
          .btn{
            @include button-variant($foetex-white, $bgcolor, $bgcolor);
            box-shadow : 0px 3px 0px 0px desaturate(darken($bgcolor, 20%),15%);
          }
        }
      }
    }
  }
}

.content{

  .ribbon-transparent{
    // padding-top : 50px;
    // padding-bottom : 50px;
    background-color : transparent;
    color : $foetex-white;
    text-align : center;
  }

  .ribbon-kitchensink{
    .row{
      background-color : $foetex-dkwhite;
      padding-left : 40px;
      padding-right : 40px;
      &:first-child{
        border-top-left-radius : $foetex-content-body;
        border-top-right-radius : $foetex-content-body;
      }
    }
  }

  .ribbon-cover{
    background-position : top center;
    background-size : cover;
    background-repeat : none;
    .row{
      background-color : transparent;
      padding-left : 40px;
      padding-right : 40px;
    }
  }

  .ribbon-cover--filterbox{
    .row{
      background-image : url($foetex-bg-img-white);
      background-repeat : repeat;
    }
    .filterbox{
      padding-bottom : 0px;
    }
    .button-see-all{
      padding-top : 0px;
    }
  }
}

@import 'components/modules/collapse-bar';
@import 'components/modules/filterbox';
@import 'components/modules/columnbox--quatre';
