//colors
$foetex-black : #313131;
$foetex-blue : #002d5a;
$foetex-grey : #7e7e7e;
$foetex-dkgrey : #444444;
$foetex-ltgrey : #e1e1e1;
$foetex-dkwhite : #eae8e7;
$foetex-ltwhite : #ffffff;
$foetex-white : #f3f3f3;

//color categories map
$foetex-category-maps: (
  baby : (color : #89c6bd, icon : icon-char(foetex-ducky), texture : 'bg-texture-wood-baby.jpg'),
  recipe : (color : #0f4225, icon : icon-char(foetex-cookingpot), texture : 'bg-texture-wood.jpg'),
  butchery : (color : #012d5a, icon : icon-char(foetex-cookingpot), texture : 'bg-texture-wood-baby.jpg'),
  bakery : (color : #4d3531, icon: icon-char(foetex-cookingpot), texture : 'bg-texture-wood.jpg'),
  greengoods : (color : #04442c, icon : icon-char(foetex-cookingpot), texture : 'bg-texture-wood.jpg'),
  wine : (color : #602134, icon : icon-char(foetex-beverages), texture : 'bg-texture-wood.jpg')
);

$foetex-bg-textures: (
  ltgrey : (texture : 'bg-foetex-ltgrey.jpg'),
  dkwhite : (texture : 'bg-foetex-dkwhite.jpg')
);

//default font sizes
$foetex-h1 : 46px;
$foetex-h2 : 24px;
$foetex-h3 : 26px;
$foetex-h4 : 22px;
$foetex-h5 : 20px;
$foetex-headtitle : 38px;
$foetex-p : 18px;
$foetex-p-article : 22px;
$foetex-p-copy : 16px;
$foetex-icon-md : 32px;
$foetex-input-md : 22px;

//border-radius
$foetex-form-radius : 8px;
$foetex-content-body : 20px;

//paddings
$foetex-paddings-article : 50px;


//direct variable background textures
$foetex-bg-ltgrey : "../images/bg-foetex-ltgrey.jpg";

.color--normal{
  background : transparent;
  color : $foetex-blue;
}

//widths
$foetex-max-width : 1260px;


//heights
$foetex-header-top-height : 50px;
$foetex-header-main-height : 60px;
