//fonts
@import "components/icons";
@import "components/fonts";

//reset
@import "lib/normalize";

//framework
@import "lib/frameworks";

//variables
@import "components/variables";

//mixins
@import "mixins/font";

//base styles
body{
  @include font('chevin-thin');
  background-color : $foetex-ltgrey;
}

a:hover{
  text-decoration : none;
}


.ul-nostyle{
  list-style : none;
  padding-left : 0px;
}

.foetex-button{
  border-radius : 6px;
  background-color : $foetex-blue;
  color : $foetex-white;
  padding : 5px 15px;
  > .icon{
    vertical-align : middle;
    margin-right : 8px;
  }
}


.container-fluid{
  > .row{
    margin: 0 auto;
    width : $foetex-max-width;
    @include breakpoint($respond){
      width : 100%;
    }
  }
}

//header
@import "general/page-header";

//content
@import "general/page-content";

//footer
@import "general/page-footer";
