//fonts
@import "components/icons";
@import "components/fonts";

//reset
@import "lib/normalize";

//framework
@import "lib/framework-bootstrap";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";

//variables
@import "components/variables";

//mixins
@import "mixins/font";

//base styles
body{
  @include font('chevin-thin');
  background-color : $foetex-ltgrey;
}

a:hover{
  text-decoration : none;
}


.ul-nostyle{
  list-style : none;
  padding-left : 0px;
}

.foetex-button{
  border-radius : 6px;
  background-color : $foetex-blue;
  color : $foetex-white;
  padding : 5px 15px;
  > .icon{
    vertical-align : middle;
    margin-right : 8px;
  }
}

//header
@import "components/page-header";


.content{
  min-height : 600px;
}

//footer
@import "components/page-footer";
